aiohttp==3.10.0
beautifulsoup4==4.12.3
dspy==0.1.5
dspy-ai==2.4.5
feedparser==6.0.10
icecream
langdetect
lxml[html_clean]==5.2.2
newspaper3k
nltk
numpy==2.0.1
openai==1.37.2
pandas==2.2.2
pydantic==2.5.0
requests==2.32.3
SQLAlchemy==2.0.31
